<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Emotion Change Recognition</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Voice Emotion Change Recognition</h1>
        <form id="upload-form">
            <label for="audio-file">Upload Audio File:</label>
            <input type="file" id="audio-file" name="file" accept="audio/*" required>
            <button type="submit">Upload</button>  <br>
            <p><div id="result">Result: </div></p>
        </form>
        
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
